// Файл обнуляющих стилей
@import "_nullstyle";

// Константы
@import "_variables";

// Секции
@import "_header";
@import "_hero";
@import "_overlay";
@import "_infoOnEmptyPage";

body {
  font-family: "Inter", sans-serif;
  background-color: #e7f6ff;
  padding: 0 30px;
}
[class*="__container"] {
  max-width: 972px;
  margin: 0 auto;
  padding: 0 25px;
}

.wrapper {
  max-width: 1030px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 50px auto;
}
.wrapper-container {
  padding: 45px 0;
}

#root {
  overflow: auto;
}
